In [19]:
import numpy as np
import pandas as pd
import seaborn as sns; sns.set_style("darkgrid")
from sklearn.cluster import KMeans

In [16]:
spotify_df = pd.read_csv("/home/dvfer/Documents/handoobk/notebooks/datasets/top10s.csv", encoding="ISO-8859-1", index_col = 0)

In [17]:
spotify_df.index

Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
       ...
       594, 595, 596, 597, 598, 599, 600, 601, 602, 603],
      dtype='int64', length=603)

In [18]:
spotify_df.describe()

,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
count,603.000000,603.000000,603.000000,603.000000,603.000000,603.000000,603.000000,603.000000,603.000000,603.000000,603.000000
mean,2014.592040,118.545605,70.504146,64.379768,-5.578773,17.774461,52.225539,224.674959,14.326700,8.358209,66.520730
std,2.607057,24.795358,16.310664,13.378718,2.798020,13.102543,22.513020,34.130059,20.766165,7.483162,14.517746
min,2010.000000,0.000000,0.000000,0.000000,-60.000000,0.000000,0.000000,134.000000,0.000000,0.000000,0.000000
25%,2013.000000,100.000000,61.000000,57.000000,-6.000000,9.000000,35.000000,202.000000,2.000000,4.000000,60.000000
50%,2015.000000,120.000000,74.000000,66.000000,-5.000000,12.000000,52.000000,221.000000,6.000000,5.000000,69.000000
75%,2017.000000,129.000000,82.000000,73.000000,-4.000000,24.000000,69.000000,239.500000,17.000000,9.000000,76.000000
max,2019.000000,206.000000,98.000000,97.000000,-2.000000,74.000000,98.000000,424.000000,99.000000,48.000000,99.000000

In [ ]:
columns = [""]

<bound method DataFrame.corr of                                                  title            artist  \
1                                     Hey, Soul Sister             Train
2                                 Love The Way You Lie            Eminem
3                                              TiK ToK             Kesha
4                                          Bad Romance         Lady Gaga
5                                 Just the Way You Are        Bruno Mars
..                                                 ...               ...
599                Find U Again (feat. Camila Cabello)       Mark Ronson
600      Cross Me (feat. Chance the Rapper & PnB Rock)        Ed Sheeran
601  No Brainer (feat. Justin Bieber, Chance the Ra...         DJ Khaled
602    Nothing Breaks Like a Heart (feat. Miley Cyrus)       Mark Ronson
603                                   Kills You Slowly  The Chainsmokers

           top genre  year  bpm  nrgy  dnce  dB  live  val  dur  acous  spch  \
1         neo mellow  2010   97    89    67  -4     8   80  217     19     4
2    detroit hip hop  2010   87    93    75  -5    52   64  263     24    23
3          dance pop  2010  120    84    76  -3    29   71  200     10    14
4          dance pop  2010  119    92    70  -4     8   71  295      0     4
5                pop  2010  109    84    64  -5     9   43  221      2     4
..               ...   ...  ...   ...   ...  ..   ...  ...  ...    ...   ...
599        dance pop  2019  104    66    61  -7    20   16  176      1     3
600              pop  2019   95    79    75  -6     7   61  206     21    12
601        dance pop  2019  136    76    53  -5     9   65  260      7    34
602        dance pop  2019  114    79    60  -6    42   24  217      1     7
603       electropop  2019  150    44    70  -9    13   23  213      6     6

     pop
1     83
2     82
3     80
4     79
5     78
..   ...
599   75
600   75
601   70
602   69
603   67

[603 rows x 14 columns]>